<%- include("header") -%>
<center>

    <br>

    <h1>You are now logged in!</h1>

    <br>
    <br>
    <P>Please choose the Data from the Top Menu.</P>
</center>
<h1>You are now logged in!</h1>

<%- include("footer") -%>